html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.page-content{ 
  padding: 20px;
  font: 1em sans-serif;
  background-color:#363c82;
  border-radius: 10px;
}
.myimage{
border-radius: 10px ;
}
.about{
  font-weight: bold;                 
}
.shadow-text{
text-shadow: 2px 2px 4px #000000;
}
.body-text{
  color: white;
}

 .nav-barr{
    color: #0077cc;
  }
